{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body_block %}
<style>
#base_container{
     background: url("{% static 'blog/images/contactsus.jpg' %}") no-repeat center center fixed; 
     background-size: cover;
  
    }
.container{
      margin-bottom:20px;
      padding:20px 200px;
}
</style>

  <div class="container" style="" >
        <h3 style="text-align:center;" class="text_clicked">Just fill out the form.</h3>

        <form  method="POST">
          {% csrf_token %}
          {{ contacts|crispy}}
          <div class="text-center">
          <input type="submit" name="" value="Shoot Message" class="btn btn-primary">
          </div>
        </form>

  </div>
  
    <script>
        $('.login_button').hide();
    </script>


{% endblock %}