{% extends 'base.html' %}
{% load static %}
  {% block body_block %}
  <style>
    body{
        background: url("{% static 'blog/images/background.jpg' %}") no-repeat center center fixed; 
        background-size: cover;
  
    }
    </style>
    <section id="main">
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="content">
                        <h1>Online Notes</h1>
                        <p class="lead">
                            Your Notes with you wherever you go <br>Easy to use protects all your notes.
                        </p>
                        <a class="btn btn-primary" href="{% url 'register'%}" class="nav-link">Sign up</a>
                    </div>
                </div>
        </div>
    </section>
    <script>
            $('.first-button').on('click', function () {
                                                            $('.animated-icon1').toggleClass('open');
                                                    });
  </script>
{% endblock %}
    