{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body_block %}
<style>
body{
     background: url("{% static 'blog/images/login.jpg' %}") no-repeat center center fixed; 
     background-size: cover;
    }

</style>


  <div class="container" style="  margin:100px auto;">
      <h1 style="text-align:center;color: #584153;">Login</h1>

        <form method="POST" action="{% url 'user_login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
            <div class="container" >
                  <div class="form-group">
                      <label for="username"  class="col-sm-2 col-form-label" style="color: #584153;">Username:</label>
                         
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        
                  </div>
                  <div class="form-group">
                      <label for="password" class="col-sm-2 col-form-label" style="color: #584153;">Password:</label>
                          
                            <input type="password" class="form-control" name="password" placeholder="Enter your password">
                         
                  </div>
            </div>
          <div class="text-center">
            <input type="submit" id="login_user" value="Login" class="btn btn-primary">
          </div>
        </form>
        <h5 style="text-align:center;margin-top:20px;color: #584153;" id="text_alert">Forgot your password? <a href="{% url 'reset_password' %}">Click Here</a></h5>

  </div>
  <div class="container" id="saved_messages">
        {% for message in messages %}
            <div class="alert alert-danger" style="font-size:20px;display:inline-block;margin:0px 40% ;">
                {{ message }}
            </div>
        {% endfor %}
  </div>
  <script>
 
    setTimeout(function() {
            $('#saved_messages').fadeOut('slow');
        }, 2000);
  

  
  </script>
  
  
{% endblock %}