{% extends "base.html" %}
{% block body_block %}
{% load crispy_forms_tags %}
{% load static %}

<style>
body{
     background: url("{% static 'blog/images/reset.jpg' %}") no-repeat center center fixed; 
     background-size: cover;
    }
@media screen and (max-width:900px) {
    .container h1{
        font-size:25px;
    }
    .container h5{
        font-size:18px;
    }
}
</style>

<div class="container" style="margin:100px auto;">
<h1 style="color: #584153;text-align:center;padding-bottom:20px">Password reset complete</h1>
<h5 style="color:#0779e4;text-align:center;padding:10px">Your password has been set. You may go ahead and log in now.</h5>
<div class="text-center">
    <a href="{% url 'user_login'%}" class="btn btn-primary btn-lg active">Log In</a>
</div>
    <form method='POST'>
        {% csrf_token %}
        {{ form|crispy }}
    
    </form>
 </div>
{% endblock %}