{% extends "base.html" %}
{% block body_block %}
{% load crispy_forms_tags %}
{% load static %}

<style>
body{
     background: url("{% static 'blog/images/reset.jpg' %}") no-repeat center center fixed; 
     background-size: cover;
    }
</style>

<div class="container" style="margin:100px auto;">
<h3 style="color: #584153;">Enter new password</h3>


<form method="post">

	{% csrf_token %}
	{{form|crispy}}
    <div class="text-center">
            <input type="Submit"  name="Update Password" value="Update Password" class="btn btn-primary">
    </div>

	
</form>
 </div>
{% endblock %}