{% extends "base.html" %}
{% block body_block %}
{% load crispy_forms_tags %}
{% load static %}

<style>
body{
     background: url("{% static 'blog/images/reset.jpg' %}") no-repeat center center fixed; 
     background-size: cover;
    }
</style>

<div class="container" style="margin:100px auto;padding:20px 200px">
<h3>Password reset complete</h3>
<p>Your password has been set. You may go ahead and log in now.</p>
<a href="{% url 'user_login'%}" class="btn btn-primary btn-lg active">Log In</a>

    <form method='POST'>
        {% csrf_token %}
        {{ form|crispy }}
    
    </form>
 </div>
{% endblock %}