{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body_block %}
<style>
body{
     background: url("{% static 'blog/images/login.jpg' %}") no-repeat center center fixed; 
     background-size: cover;
    }
</style>

<section >
  <div class="container" style="padding:0px 200px;margin-bottom:60px">
      {% if registered %}
        <h5 style="text-align:center;">Thank you for registering!</h5>
                
        <script>
        setTimeout(function() {
                $.get("{% url 'mainpageloggedin' %}") // Do something after 5 seconds
            }, 5000);


        </script>
      {% else %}
        <h3 style="text-align:center;padding:10px;">Register Here</h3>
        <form  method="POST" >
        {% csrf_token %}
              {{ user_form|crispy }}
          <div class="text-center">
          <input type="submit" name="" value="Register" class="btn btn-primary">
          </div>
          </div>
        </form>

      {% endif %}

  </div>
</section>
{% endblock %}